{% extends 'wrapper.html' %}

{% block headcontent %}
    <script src="/static/scripts/newPassword.js"></script>
{% endblock %}

{% block bodycontent %}
    <div class="wrapper">
        <div id="pass-card" class="card justify-content-center">
            <h5 class="card-header"><span>Add new site credentials</span></h5>
            <div class="card-body py-3">
                <form>
                    <div class="mb-3">
                        <label for="site" class="form-label">Site</label>
                        <input type="text" class="form-control" id="site"
                               placeholder="Your site name" name="site"/>
                    </div>
                    <div class="mb-3">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" id="login"
                               placeholder="Your site login" name="login"/>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password"
                               placeholder="Your site password" name="password"/>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Add credentials</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}