{% extends "wrapper.html" %}

{% block headcontent %}
    <link rel="stylesheet" href="../static/styles/global.css"/>
{% endblock %}

{% block bodycontent %}
    <div class="wrapper">
        <div id="card" class="card justify-content-center">
            <h5 class="card-header"><span>My data</span></h5>
            <div class="card-body py-3">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                               value={{ data['email'] }}>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticLogin" class="col-sm-2 col-form-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                               value={{ data['login'] }}>
                    </div>
                </div>
                <hr class="divider"/>
                <h5>Connections:</h5>
                {% for connection in connections %}
                    <p>{{ connection }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}